openapi: 3.0.3
info:
  title: Predictia – 8EH Radio ITB Integrated API
  version: 1.7.0
  description: >
    **Integrated API Documentation**

    **Integration Strategy:**
    * **Predictia (AI):** Agnostic endpoints.
    * **8EH Radio (Content):** Strict content schemas.
    
    **Specific Logic:**
    * **Training:** Uses `GET /api/blog`. **Multivalued columns are dropped.**
    * **Prediction:** Uses `GET /api/newblog`.

servers:
  - url: https://api.prediksi.my.id
    description: Predictia AI Server
  - url: https://8ehradioitb.com
    description: 8EH Radio ITB Server

tags:
  - name: Predictia
    description: Agnostic AI Services
  - name: 8EH Radio ITB
    description: Content Provider

paths:

  #############################################
  # FLOW 1: TRAINING
  # Source: GET /api/blog (Historical + readercount)
  #############################################

  /training:
    post:
      tags: [Predictia]
      summary: Train AI Model
      description: >
        Accepts any dataset to train the model.
        
        **Data Processing Note:** Multivalued columns (arrays, lists, nested objects) will be automatically **dropped** during preprocessing. Only flat fields (strings, numbers, booleans) are used for training.

        **Coupling Example:** Consumes BlogPostWithMetrics from 8EH. Fields like tags (array) and authors (nested objects) are dropped, while flat fields like `title`, `category`, `readTime`, and readercount are preserved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, target_col, training_data]
              properties:
                id: { type: string }
                target_col: { type: string }
                training_data: 
                  type: array
                  items: { type: object, additionalProperties: true }
              # COUPLED EXAMPLE: Matches GET /api/blog
              example:
                id: "8eh-blog-engagement-v1"
                target_col: "readercount"
                training_data:
                  - id: "clx123abc"
                    title: "Mengenal Lebih Dekat 8EH Radio ITB"
                    category: "News"
                    readTime: "5 min read"
                    readercount: 4521
                    # 'tags' and 'authors' (arrays) would be present here but dropped by the AI
                  - id: "clx987xyz"
                    title: "Top 10 Indie Bands"
                    category: "Music"
                    readTime: "8 min read"
                    readercount: 3105
      responses:
        "202":
          description: Training queued

  /api/blog:
    get:
      tags: [8EH Radio ITB]
      summary: List Blog Posts (Historical)
      description: Retrieve all published blog posts. **Includes readercount for AI training.**
      responses:
        "200":
          description: List of blog posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlogPostWithMetrics'

  /api/blog/{slug}:
    get:
      tags: [8EH Radio ITB]
      summary: Get Single Post
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
          example: "mengenal-lebih-dekat-8eh-radio-itb"
      responses:
        "200":
          description: Single post with metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPostWithMetrics'
        "404":
          description: Post not found

  #############################################
  # FLOW 2: PREDICTION
  # Source: GET /api/newblog (New - NO readercount)
  #############################################

  /predictions/{model_id}:
    post:
      tags: [Predictia]
      summary: Make Prediction
      description: >
        Predicts target variable.
        **Coupling Example:** Consumes BlogPostStandard (missing `readercount`) from 8EH.
      parameters:
        - name: model_id
          in: path
          required: true
          schema: { type: string }
          example: "8eh-blog-engagement-v1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input_data]
              properties:
                input_data: 
                  type: array
                  items: { type: object, additionalProperties: true }
              # COUPLED EXAMPLE: Matches GET /api/newblog
              example:
                input_data:
                  - id: "clx444new"
                    title: "Review: Jazz Festival 2024"
                    category: "Music"
                    readTime: "7 min read"
                    # readercount is ABSENT
      responses:
        "200":
          description: Prediction results
          content:
            application/json:
              schema:
                type: object
                properties:
                  predictions: { type: array, items: { type: number }, example: [1850] }

  /api/newblog:
    get:
      tags: [8EH Radio ITB]
      summary: Retrieve New/Draft Blogs
      description: Retrieve new posts for prediction. **Excludes `readercount`.**
      responses:
        "200":
          description: List of new blog entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlogPostStandard'

  #############################################
  # FLOW 3: SIMILARITY CHECK
  # Source: GET /api/podcast
  #############################################

  /content/similarity-check:
    post:
      tags: [Predictia]
      summary: Check Content Similarity
      description: >
        **Coupling Example:** Checks new text against PodcastEpisode data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content]
              properties:
                title: { type: string }
                content: { type: string }
              example:
                title: "New Podcast: Radio History"
                content: "Script regarding the origins of the station..."
      responses:
        "200":
          description: Similarity result
          content:
            application/json:
              schema:
                type: object
                properties:
                  similarity_score: { type: number, example: 0.92 }
                  matched_source: { type: string, example: "https://8ehradioitb.com/api/podcast/clx456def" }

  /api/podcast:
    get:
      tags: [8EH Radio ITB]
      summary: List Podcasts
      responses:
        "200":
          description: Podcast list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PodcastEpisode'

  /api/podcast/{media_path}:
    get:
      tags: [8EH Radio ITB]
      summary: Media Proxy
      description: Stream audio or images from R2 storage.
      parameters:
        - name: media_path
          in: path
          required: true
          schema: { type: string }
          example: "podcasts/episode-1.mp3"
      responses:
        "200":
          description: Binary file content
          content:
            audio/mpeg:
              schema: { type: string, format: binary }
            image/jpeg:
              schema: { type: string, format: binary }
        "404":
          description: File not found

  #############################################
  # FLOW 4: SOCIAL CAPTIONS
  # Source: GET /api/program-videos
  #############################################

  /content/social-caption:
    post:
      tags: [Predictia]
      summary: Generate Caption
      description: >
        **Coupling Example:** Uses ProgramVideo metadata to generate captions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, title, description]
              properties:
                platform: { type: string }
                title: { type: string }
                description: { type: string }
              example:
                platform: "instagram"
                title: "Morning Show Episode 1"
                description: "Full YouTube URL: https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      responses:
        "200":
          description: Caption generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  caption: { type: string, example: "Check out the Morning Show! Link in bio. 📺" }

  /api/program-videos:
    get:
      tags: [8EH Radio ITB]
      summary: List Program Videos
      responses:
        "200":
          description: Video list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProgramVideo'

  #############################################
  # FLOW 5: SUMMARIZATION
  # Source: GET /api/tune-tracker
  #############################################

  /summarize:
    post:
      tags: [Predictia]
      summary: Summarize Text
      description: >
        **Coupling Example:** Summarizes TuneTracker chart data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
              example:
                content: "Tune Tracker 2023-10-23. Rank 1: 'Rayuan Perempuan Gila' (stable).
